@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;

}

body {
  background-color: aliceblue;
}

main {
  max-width: 450px;
  margin: 0 auto;
}


button,
input,
.my-style {
  border-radius: 5px;
  border: solid 1px rgb(0, 56, 225);
  padding: 5px;
  background-color: rgb(202, 230, 255);
}

.my-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-gap: 5px;
}